mat-toolbar {
  height: 48px;
  background-color: chocolate;
  color: whitesmoke; 
}

.spacer {
  flex: 1 1 auto;
  // padding: 5px;
}
button {
    margin: 5px;
    background-color: chocolate;
    color: whitesmoke; 

}
