<mat-toolbar>
  <div class="menuleft">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo" routerLink="home">Home</div>
  <button mat-flat-button class="topbarButton">
    <mat-icon>apps</mat-icon>&nbsp;About
  </button>
  <button mat-flat-button class="topbarButton">
    <mat-icon>group</mat-icon>&nbsp;Service
  </button>
  <button mat-flat-button class="topbarButton">
    <mat-icon>bolt</mat-icon>&nbsp;Contacts
  </button>
  <div></div>
  <div class="spacer"></div>  
  <button mat-icon-button class="topbarButton">
    <mat-icon>account_box</mat-icon>
  </button>
</mat-toolbar>