<div>
  <div class="innerPage" style="overflow-y: scroll; padding: 10px">
    <h1>Welcome to Clock In Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quisquam necessitatibus architecto harum incidunt, unde 
        fugit, reiciendis cupiditate iusto magni, laudantium soluta 
        quaerat repudiandae autem mollitia ad numquam odio quis quo.</p>
  </div>

  <div class="grid-container">
    <mat-card class="">
      <mat-card-title>Log in</mat-card-title>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email:</mat-label>
              <input matInput type="email" id="name" placeholder="Email:" formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password:</mat-label>
              <input matInput type="password" id="password" placeholder="Password:" formControlName="password">
          </mat-form-field>
          <div>
              <button mat-raised-button color="primary">Submit</button>
          </div>
      </form>
    </mat-card>
  </div>
</div>
