<div class="footer-section">
    <div class="footer-item">
        <h2>EasyLaundry</h2>
        <p><a href="#">About us</a></p>
        <p><a href="#">Services</a></p>
        <p><a href="#">Clients</a></p>
        <p><a href="#">Contacts</a></p>
    </div>
    <div class="footer-item">
        <h2>Get Help</h2>
        <p><a href="#">FAQ</a></p>
        <p><a href="#">Shipping</a></p>
        <p><a href="#">Returns</a></p>
        <p><a href="#">Payment options</a></p>
    </div>
    <div class="footer-item">
        <h2>Online Shop</h2>
        <p><a href="#">Blogs</a></p>
        <p><a href="#">Watch</a></p>
        <p><a href="#">Shoes</a></p>
        <p><a href="#">Bress</a></p>
    </div>
    <div class="footer-item social">
        <h2>Follow us</h2>
        <ul>
            <li><mat-icon>thumb_down</mat-icon></li>
            <li><mat-icon>quiz</mat-icon></li>
            <li><mat-icon>public</mat-icon></li>
            <li><mat-icon>share</mat-icon></li>
        </ul>
    </div>
</div>
<div class="footer-section" fxLayoutAlign="center center">Developed by nodumelwando inc.  &copy; Copyright 2017-2022</div>