<div>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input type="text" id="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input type="email" id="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cell Number:</mat-label>
            <input type="number" id="cellNumber" formControlName="cellNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input type="password" id="name" formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password:</mat-label>
            <input type="password" id="name" formControlName="cpassword">
        </mat-form-field>
        <div>
            <button>Submit</button>
        </div>
    </form>
</div>